<div>
  <div class="form-group">
    <label for="">
      Calle:
      <input type="text" [(ngModel)]="street">
    </label>
  </div>
  <div class="form-group">
    <label for="">
      Número:
      <input type="text" [(ngModel)]="number">
    </label>
  </div>
  <div class="form-group">
    <label for="">
      Ciudad:
      <input type="text" [(ngModel)]="city">
    </label>
  </div>
  <div class="form-group">
    <label for="">
      Estado:
      <input type="text" [(ngModel)]="state">
    </label>
  </div>
  <div class="form-group">
    <label for="">
      Pais:
      <input type="text" [(ngModel)]="Country">
    </label>
  </div>
  <div class="form-group">
    <label for="">
      Código Postal:
      <input type="text" [(ngModel)]="code">
    </label>
  </div>
</div>
