<div>
  <div class="form-group">
    <label>
      Nombre:
      <input type="text" name="name" [(ngModel)]="name" />
    </label>
  </div>
  <div class="form-group">
    <label>
      Compañia:
      <input type="text" name="company" [(ngModel)]="company" />
    </label>
  </div>
  <app-phone *ngFor="let p of phones" [phone]="p"></app-phone>
  <app-mail></app-mail>
  <app-address></app-address>
</div>
<div>
  <button>Cancelar</button>
  <button type="button" (click)="add()">Guardar</button>
</div>
